[submodule "extends"]
	path = extends
	url = git@github.com:CloudCoreo/vpc-network-only.git
[submodule "stack-vpn/extends"]
	path = stack-vpn/extends
	url = git@github.com:CloudCoreo/servers-vpn.git
	branch = dev
[submodule "stack-nat/extends"]
	path = stack-nat/extends
	url = git@github.com:CloudCoreo/servers-nat.git
	branch = dev
