variables:
    VPC_NAME:
        required: true
        description: the name of the VPC
        default: op-vpc
    VPC_OCTETS:
        required: true
        description: the /16 net of the VPC to look for - i.e 123.123.0.0
        default: 10.113.0.0
    PRIVATE_ROUTE_NAME:
        required: true
        description: the name to give to the private route
        default: op-private-route
    PRIVATE_SUBNET_NAME:
        required: true
        description: the cloudcoreo name of the private vpc subnets
        default: op-private-subnet
    NAT_SG_NAME:
        required: true
        description: the name of the security group to create for the NAT
        default: op-NAT-sg
    NAT_INGRESS_PORTS:
        required: true
        description: allowed ingress ports on the nat
        default:
            - 0..65535
        type: array
    NAT_INGRESS_CIDRS:
        required: true
        description: allowed ingress network cidrs on the nat
        default:
            - 0.0.0.0/0
        type: array
    NAT_EGRESS_PORTS:
        required: true
        description: allowed ingress ports on the nat
        default:
            - 0..65535
        type: array
    NAT_EGRESS_CIDRS:
        required: true
        description: allowed ingress network cidrs on the nat
        default:
            - 0.0.0.0/0
        type: array
    NAT_NAME:
        required: true
        description: the name of the nat instance
        default: op-NAT
    NAT_SIZE:
        required: true
        description: the instance size of the nat
        default: t2.small
    NAT_GROUP_SIZE_MIN:
        required: true
        description: the miniumum number of NAT instances to launch
        default: 1
        type: number
    NAT_GROUP_SIZE_MAX:
        required: true
        description: the maximum number of NAT instances to launch
        default: 1
        type: number
    PUBLIC_SUBNET_NAME:
        required: true
        description: the cloudcoreo name of the public vpc subnets
        default: op-public-subnet
    BACKUP_BUCKET:
        default:
        description: the name of the bucket in which we should back things up
        overrides: null
        required: true
    BACKUP_BUCKET_REGION:
        default:
        description: the region where there vpn backups bucket was created
        overrides: null
        required: true
    VPN_KEY_BUCKET:
        default:
        description: the name of the bucket in which we should retrieve and/or store vpn keys
        overrides: null
        required: true
    VPN_KEY_BUCKET_REGION:
        default:
        description: the region where there vpn key bucket was created
        overrides: null
        required: true
    VPN_NAME:
        default: op-vpn
        description: the name of the vpn server to launch
        overrides: null
        required: true
    VPN_ACCESS_CIDRS:
        default:
            - 0.0.0.0/0
        description: null
        overrides: null
        required: true
        type: array
    DNS_ZONE:
        default:
        description: the dns entry for the zone (i.e. example.com)
        overrides: null
        required: true
        type: null
    VPN_SSH_ACCESS_CIDRS:
        default:
            - 10.0.0.0/8
        description: The cidrs from where you should be able to ssh in
        overrides: null
        required: true
        type: array
    VPN_INSTANCE_TYPE:
        default: t2.micro
        description: null
        overrides: null
        required: true
        type: null
    VPN_SSH_KEY_NAME:
        default:
        description: What key should the vpn instance be launched with?
        overrides: null
        required: true
        type: null
    PUBLIC_ROUTE_NAME:
        required: true
        description: the name to give to the public route
        default: op-public-route
    TIMEZONE:
        default: America/Los_Angeles
        value: America/Los_Angeles
        description: the timezone the servers should come up in
        overrides: null
        required: true
        type: null
    MONITORINTERVAL:
        required: true
        description: time in seconds between route checks
        default: 20
        type: number
    PRIVATE_SUBNETS:
        default: "COMPOSITE::coreo_aws_vpc_subnet.op-private-subnet.subnet_ids"
        required: true
        descripiton: comma seperated list of the private subnet ids
    VPN_BACKUP_CRON:
        default: "0 * * * *"
        description: the cron schedule for backups
        overrides: null
        required: true
        type: string
    ENV:
        default: test
        description: null
        overrides: null
        required: true
        type: null
    REGION:
        default: "PLAN::region"
        description: the region we are launching in
        overrides: null
        required: true
        type: string
    VPN_DNS_PREFIX:
        default: op-vpn
        description: "the dns entry to create for the VPN server (<prefix>.<zone>)"
        overrides: null
        required: true
        type: null
    NAT_AMI:
        description: the ami id of the nat
        switch: "PLAN::region"
        cases:
            us-east-1: ami-863b6391
            us-east-2: ami-8d5a00e8
            us-west-1: ami-f4e8a394
            us-west-2: ami-d0c066b0
            ap-south-1: ami-93b5c1fc
            ap-northeast-2: ami-b036e2de
            ap-southeast-1: ami-df50f1bc
            ap-southeast-2: ami-ae714dcd
            ap-northeast-1: ami-c50cafa4
            eu-central-1: ami-fd619992
            eu-west-1: ami-509dd623
            sa-east-1: ami-98b824f4
        type: case
    NAT_KEY:
        required: true
        description: The name of the key to use for the nat box
        default:
    VPN_AMI_ID:
        description: the ami id for the VPN server
        switch: "PLAN::region"
        cases:
            us-east-1: ami-b73b63a0
            us-east-2: ami-58277d3d
            us-west-1: ami-23e8a343
            us-west-2: ami-5ec1673e
            ap-south-1: ami-34b4c05b
            ap-northeast-2: ami-983ce8f6
            ap-southeast-1: ami-b953f2da
            ap-southeast-2: ami-db704cb8
            ap-northeast-1: ami-0c11b26d
            eu-central-1: ami-f9619996
            eu-west-1: ami-9398d3e0
            sa-east-1: ami-97831ffb 
        type: case
    DATADOG_KEY:
        default: null
        value: null
        description: "If you have a datadog key, enter it here and we will install the agent"
        overrides: null
        required: false
    LOGFILE:
        required: false
        description: ha-nat log file
        default: /var/log/ha-nat.log
    VPN_ROUTING_CIDR:
        default: 10.0.0.0
        description: This is the cidr of the network cidr the VPN should on your network. i.e. all traffic to this cidr will be routed through the VPN. set to 0.0.0.0 for all traffic. This works in conjunction with the VPN_ROUTING_MASK variable.
    VPN_ROUTING_MASK:
        default: 8
        description: This is the cidr mask of the network cidr the VPN should on your network. i.e. all traffic to this cidr will be routed through the VPN. set to 0 for all traffic. This works in conjunction with the VPN_ROUTING_CIDR variable.

# VPN AMI's are for:
#   Amazon Linux AMI 2016.09.0 was released on 2016-09-27.

# NAT AMI's are for:
#   Amazon Linux AMI 2016.09.0.20161028 x86_64 VPC NAT HVM EB
