variables:
    VPC_NAME:
        required: true
        description: the name of the VPC
        default: op-test-vpc
    VPC_OCTETS:
        required: true
        description: the /16 net of the VPC to look for - i.e 123.123.0.0
        default: 10.113.0.0
    PRIVATE_ROUTE_NAME:
        required: true
        description: the name to give to the private route
        default: op-test-private-route
    PRIVATE_SUBNET_NAME:
        required: true
        description: the cloudcoreo name of the private vpc subnets
        default: op-test-private-subnet
    PUBLIC_ROUTE_NAME:
        required: true
        description: the name to give to the public route
        default: op-test-public-route
    PUBLIC_SUBNET_NAME:
        required: true
        description: the cloudcoreo name of the public vpc subnets
        default: op-test-public-subnet
